# Dependencies
node_modules/

# Environment
.venv/
.env
line/credentials.php
line/generated/*.png
line/templates/*
!line/templates/.gitkeep

# Archives
*.zip

# Storage logs
storage/logs/

# OS files
Thumbs.db
.DS_Store
